.body
{
    height: 1000px;
    background-color: #fff;
}
.advertisement
{
    top: 5vh;
}
.title
{
    font-size: 20px;
    color: #08c3d8;
}
.description
{
    font-size: 20px;
}
hr.offset{
    position: relative;
    top: 3vh;
    border: 1px solid black;
}
.image
{
    width: 50%;
}
.image_transform
{
    transform-style: preserve-3d;
    transition: transform 1s;
    backface-visibility: hidden;
    transform: perspective(760px) rotateY(12deg);
    box-shadow: 1 1 1 1 1;
}
.offset_text
{
    top: 12vh;
    line-height: 30px;
}
.image_text_title
{
    font-size: 22px;
    font-weight: 600;
}
.image_text_description
{
    font-size: 35px;
    font-weight: 700;
}
.image_text_paragraph
{
    font-size: 20px;
}
.offset_stocks
{
    top: 20vh;
}
.market_title
{
    font-size: 50px;
    font-weight: 600;
}
.offset_pricing
{
    top: 30vh;
}
.pricing_tile
{
    height: fit-content;
    line-height: 30px;
}
.intended_user
{
    font-size: 15px;
}
.class
{
    font-size: 40px;
    font-weight: 600;
}
.price
{
    font-size: 50px;
    font-weight: 600;
}
.USD
{
    font-weight: 400;
    font-size: 40px;
}
.month
{
    color: #7e7e7e;
}
.extendo
{
    height: 100px;;
}