<div class="body position-absolute p-0 m-0 w-100">
    <div class="container text-center w-100">
        <div class="row d-flex justify-content-center pt-5">
            @for(item of advertisement; track item.title)
            {
            <div class="col text-start">
                <div class="title">
                    <p>{{item.title}}</p>
                </div>
                <div class="description top-0">
                    <p>
                        {{item.description}}
                    </p>
                </div>
            </div>
            }
            <hr class="border border-dark">
        </div>
        <div class="row align-items-start pt-5">
            <div class="col-8">
                <div class="w-100">
                    <img src="../../assets/data.png" class="w-100 image_transform">
                </div>
            </div>
            <div class="col-4">
                <div class="container text-start">
                    <div class="row align-items-start image_text_title">
                        <div class="col">
                            <p>Welcome to the Next Generation of Investing</p>
                        </div>
                    </div>
                    <div class="row align-items-start image_text_description">
                        <div class="col">
                            <p>Find the needle in the haystack</p>
                        </div>
                    </div>
                    <div class="row align-items-start image_text_paragraph">
                        <div class="col">
                            <p>Manually reading and understanding data is a thing of the past. With our state of the art
                                algoritims and technology.
                                Harness the power of AI and let your wallet grow on its own.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="discover">
          <div class="row offset_stocks position-relative">
              <p class="market_title">Supported Markets</p>
              @for(item of data; track item.name){
              <div class="col">
                  <app-tiles [name]="item.name" [image]="item.image" class="p-3"></app-tiles>
              </div>
              }
          </div>
        </div>
        <div id="pricing">
          <div class="row offset_pricing position-relative" style="padding-bottom: 3%;">
              <p class="market_title">Pricing</p>
              <div class="col">
                  <div class="rounded-4 border border-dark-subtle border-2 text-start p-3 pricing_tile">
                      <p class="intended_user">For New Users</p>
                      <p class="class">Free</p>
                      <p class="intended_user color_black">Free access to one business per month</p>
                      <br>
                      <p class="price">$0 <span class="USD">USD</span></p>
                      <p class="month">/month</p>
                      <br>
                      <button type="button" class="btn btn-outline-dark">Create Account</button>
                  </div>
              </div>
              <div class="col">
                  <div class="rounded-4 border border-2 border-success text-start p-3 pricing_tile">
                      <p class="intended_user">For Everyone</p>
                      <p class="class">Pro</p>
                      <p class="intended_user color_black ">Access to all business</p>
                      <br>
                      <p class="price">$20 <span class="USD">USD</span></p>
                      <p class="month">/month</p>
                      <br>
                      <button type="button" class="btn btn-success">Get Started</button>
                  </div>
              </div>
              <div class="col">
                  <div class="rounded-4 border border-dark-subtle border-2 text-start p-3 pricing_tile">
                      <p class="intended_user">For Larger Organizations</p>
                      <p class="class">Enterprise</p>
                      <p class="intended_user color_black">Everything in Pro plus, API, and Retrain requests</p>
                      <br>
                      <p class="price">$100 <span class="USD">USD</span></p>
                      <p class="month">/month</p>
                      <br>
                      <button type="button" class="btn btn-outline-dark">Contact Us</button>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>