.body
{
    height: 1000px;
    background-color: #fff;
}
.advertisement
{
    top: 5vh;
}
.title
{
    font-size: 20px;
    color: #08c3d8;
}
.description
{
    font-size: 20px;
}
hr{
    border: 1px solid black;
}