<nav class="navbar navbar-expand-lg navbar-light navbar-custom sticky-top float-start w-100">
  <a class="navbar-brand brand-pad" href="#" style="color: white; font-weight: bold;">
    <img src="../../assets/wallet icon.svg" width="45" height="45" alt="">
    Wallet ++
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
