.home_page
{
    //background-color: #282828;
    background-image: url('../../assets/4k-New-York-City-Twilight-4K-Wallpaper.png');
    color: #fff;
    height: 125vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.offset_row
{
    top: 10vh;
}
.name
{
    font-size: 50px ;
}
.button_type
{
    font-size: 20px;
}


