<div class="home_page p-0 position-relative">
    <div class="background"></div>
    <div class="w-50 ps-0 ms-5 h-50 container text-start position-relative offset_row">
        <div class="row align-items-stretch">
            <div class="col">
                <p class="name fw-bold">We Make Your Wallet Fat, Not You!</p> <!--add animation for the ++-->
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col">
                <h2 class="slogan">An investing platform for investors with any experience</h2>
            </div>
        </div>
        <div class="row align-items-stretch pt-5">
            <div class="col">
                <button type="button" class="btn btn-light button_type p-3 pt-2 pb-2">Start Free Trial</button>
            </div>
        </div>
    </div>
</div>