.home_page
{
    //background-color: #282828;
    background-image: url('../../assets/4k-New-York-City-Twilight-4K-Wallpaper.jpg');
    color: #fff;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.video
{
    filter: brightness(.1);
    transform: translateY(-50px);
    min-width: 100%;
}