<app-navbar></app-navbar>
<div class="home_page p-0 m-0">
    <div class="home_page position-absolute z-0">
        <img src="../../assets/4k-New-York-City-Twilight-4K-Wallpaper.png" class="background-img">
    </div>
    <div class="ps-0 pt-5 pe-0 h-100 text-start position-absolute top-10 ms-3 container_mobile">
        <p class="name fw-bold" style="padding-left: 8%;">We Make Your Wallet Fat, Not You!</p>
        <h2 class="slogan" style="padding-left: 8%;">An investing platform for investors with any experience</h2>
        <div class="pt-5 button_container" style="padding-left: 8%;">
            <button type="button" class="btn btn-light button_type p-3 pt-2 pb-2">Start Free Trial</button>
        </div>
    </div>
</div>