@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/** Base colors */
:root{
--clr-dark-a0: #000000;
--clr-light-a0: #ffffff;

/** Dark theme primary colors */
--clr-primary-a0: #6056a0;
--clr-primary-a10: #7267ab;
--clr-primary-a20: #8379b5;
--clr-primary-a30: #958bc0;
--clr-primary-a40: #a69dca;
--clr-primary-a50: #b8b0d5;

/** Dark theme surface colors */
--clr-surface-a0: #121212;
--clr-surface-a10: #282828;
--clr-surface-a20: #3f3f3f;
--clr-surface-a30: #575757;
--clr-surface-a40: #717171;
--clr-surface-a50: #8b8b8b;

/** Dark theme tonal surface colors */
--clr-surface-tonal-a0: #383354;
--clr-surface-tonal-a10: #4c4765;
--clr-surface-tonal-a20: #605b77;
--clr-surface-tonal-a30: #76718a;
--clr-surface-tonal-a40: #8b879c;
--clr-surface-tonal-a50: #a19eaf;

}
 /** Examples */ 
.html{
    font-family: "Poppins", serif;
}
.bg-primary {
 color: var(--clr-primary-a50); 
 background-color: var(--clr-surface-a0); 
}